_site/
*.php
cache/
error_log
index.html?*
wp-content/uploads/WP-STATIC-*
wp-content/uploads/WP2STATIC-*
wp-content/wflogs/
wp-json/
wp-static-html-output-*/

wp-content/plugins/
!wp-content/plugins/google-analytics-dashboard-for-wp/front/js/tracking-analytics-events.js
!wp-content/themes/sandy/css/build/minified/application.css
!wp-content/themes/sandy/fonts/FranklinCondITCPro-Bold.ttf
!wp-content/themes/sandy/fonts/PlantinStd-Bold.ttf
!wp-content/themes/sandy/fonts/PlantinStd-BoldItalic.ttf
!wp-content/themes/sandy/fonts/PlantinStd-Italic.ttf
!wp-content/themes/sandy/fonts/PlantinStd.ttf
!wp-content/themes/sandy/images/brooklyn-rail-logo.svg
!wp-content/themes/sandy/images/close_thin.png
!wp-content/themes/sandy/images/dedalus-foundation-logo.png
!wp-content/themes/sandy/images/favicon.png
!wp-content/themes/sandy/js/build/application.min.js
!wp-content/themes/sandy/js/modernizr-2.6.2.min.js
!wp-content/themes/sandy/style.css
